<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

           <b>Please select your allergies:</b>
     <br><br>
    
      <%= f.label :peanut, class: "checkbox inline" do %>
        <%= f.check_box :peanut %>
        <span>Peanut</span>
      <% end %>

      <%= f.label :gluten, class: "checkbox inline" do %>
        <%= f.check_box :gluten %>
        <span>Gluten</span>
      <% end %>

      <%= f.label :dairy, class: "checkbox inline" do %>
        <%= f.check_box :dairy %>
        <span>Dairy</span>
      <% end %>

      <%= f.label :egg, class: "checkbox inline" do %>
        <%= f.check_box :egg %>
        <span>Egg</span>
      <% end %>

      <%= f.label :soy, class: "checkbox inline" do %>
        <%= f.check_box :soy %>
        <span>Soy</span>
      <% end %>

      <%= f.label :shellfish, class: "checkbox inline" do %>
        <%= f.check_box :shellfish %>
        <span>Shellfish</span>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
  </div>
</div>