<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <body>
      <b>Known Allergies:</b><br>
      <%= @user.peanut %><br>
      <%= @user.gluten %><br>
      <%= @user.dairy %><br>
      <%= @user.egg %><br>
      <%= @user.soy %><br>
      <%= @user.shellfish %><br>
    </body>
  </aside>
</div>