<li id="restaurant-<%= restaurant.id %>">
  <%= link_to gravatar_for(restaurant.user, size: 50), restaurant.user %>
  <span class="user"><%= link_to restaurant.user.name, restaurant.user %></span>
  <span class="content"><%= restaurant.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(restaurant.created_at) %> ago.
  </span>
</li>